{% include "/en/skeleton.html" %}


{% block body %}

    <section id="back">
        <p>> <a href="https://saleh.alghusson.com">home</a></p>
    </section>

    {% if task == '404' %}
        {% include '/en/404.html' %}
    {% endif %}
    {% if task == 'cv' %}
        {% include '/en/cv.html' %}
    {% endif %}
    {% if task == 'photo' %}
        {% include '/en/photo.html' %}
    {% endif %}
    {% if task == 'voicegarden' %}
        {% include '/en/voicegarden.html' %}
    {% endif %}


{% endblock %}
