<!-- FOOTER-->
<section id="footer">
    <footer class="footer fixed-bottom navbar-fixed-bottom">
        <div class="container text-center">
            <p style="margin-bottom: 0rem;">
                <span>
                    <a href="" onclick="check_language('en', 'en');return false;" class="curr-link">English</a>
                </span>
                | <span title='muy pronto'>
                    <a href="" onclick="check_language('en', 'es');return false;" class="un-available-link">Español</a>
                </span>
                | <span title='em breve'>
                    <a onclick="check_language('en', 'pt');return false;" class="un-available-link">Português</a>
                </span>
                | <span title='à venir'>
                    <a onclick="check_language('en', 'fr');return false;" class="un-available-link">Français</a>
                </span>
                | <span title='Demnächst'>
                    <a onclick="check_language('en', 'de');return false;" class="un-available-link">Deutsch</a>
                </span>
                | <span>
                    <a href="" onclick="check_language('en', 'ar');return false;" class="available-link">العربية</a>
                </span>
                | <span title='יגיע בקרוב'>
                    <a title="יגיע בקרוב" onclick="check_language('en', 'he');return false;" class="un-available-link">עברית</a>
                </span>
            </p>
        </div>
    </footer>
</section>