{% extends "/en/skeleton.html" %}

{% block js %}
    <script src="/static/js/randomizer.js"></script>
{% endblock %}


{% block body %}

    <div class="cuerpo">

        <section id="section_title">
            <h1 id="header_title">Saleh Alghusson</h1>
        </section>

        {% include '/dropdown.html' %}

        <section id="section_about">
            <p class="links">Hey, I'm Saleh, I studied Computer Science at the University of Texas. I'm passionate about <a type="image/jpeg" id="anchor_pic_1" href="photos/tech" class="curr-link tiptext">technology</a>, <a id="anchor_pic_2" href="/photos/travel" class="curr-link tiptext">travel</a> and <a id="anchor_pic_3" href="/photos/bike" class="curr-link tiptext">two wheeled vehicles</a> <img class="icons" src="/static/icons/icon-wink.svg" alt="wink"></p>
            <p></p>
            <p>I'm based out of NYC with <a href="https://cultureiq.com/">CultureIQ</a>. And I also run a tiny <a href="https://qirh.github.io">blog</a> that I should update more often.</p>
            <p>Feel free to <a href="mailto:saleh@alghusson.com">get in touch</a> if you are working on something that could use my help, or if you just want to grab coffee.</p>
            <p></p>
        </section>

        <section id="section_projects">
            <h2 id="header_projects">Some of my Passion Projects</h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-name" scope="col">Name</th>
                  <th class="col-desc" scope="col">Description</th>
                  <th class="col-link" scope="col">Github</th>
                  <th class="col-link" scope="col">Link</th>
                </tr>
              </thead>
              <tbody>
                 <tr>
                  <td class="cell row-name"><p class="p-name">Possible Translations</p></td>
                  <td class="cell row-desc"><p class="p-desc">Full stack web application that detects and translates user input. <a href="https://possibletranslationsapi.com">API endpoint</a>. <a href="https://documenter.getpostman.com/view/4826790/RWMLL6on">API documentation</a>.</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/pt"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="https://possibletranslations.com"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">Cambridge Art</p></td>
                  <td class="cell row-desc"><p class="p-desc">iOS app that shows public art for the city of Cambridge, Massachusetts. Translated into five Languages.</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/CambridgeArt"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-app" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1297131977&mt=8"><img class="row-icon-img" src="/static/icons/apple-store.svg" title="App store link" alt="App store link"></a></td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">MyQueue</p></td>
                  <td class="cell row-desc"><p class="p-desc">Android app that displays media information (Movies/TV shows) for multiple streaming services in one place.</p></td>
                  <td class="row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/MyQueue"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="row-icon row-website dead">-</td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">Downing Jones</p></td>
                  <td class="cell row-desc"><p class="p-desc">Full stack web application that displays and compares stock market information from different markets simultaneously. <a href="https://salehjones.docs.apiary.io">API documentation</a>.</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/jones"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="https://salehjones.com"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">Texas First</p></td>
                  <td class="cell row-desc"><p class="p-desc">Extension to Google Chrome. When activated, it will loop over lists of US states and put "TX"/"Texas" at the top</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/TexasFirst"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website row-chrome live"><a class="anchor-chrome" href="https://chrome.google.com/webstore/detail/texas-first/cflpfjhdephkbknjgidjkcfhohbddlnh"><img class="row-icon-img" src="/static/icons/chrome.svg" title="Chrome store link" alt="Chrome store link"></a></td>
                </tr>
                <tr class="last-row">
                  <td class="cell row-name"><p class="p-name">Voice Garden</p></td>
                  <td class="cell row-desc"><p class="p-desc">Google Home Application, enables the user to verbally issue commands and request information from an Arduino (EcoDuino)</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/VoiceGarden"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-gcp" href="voicegarden"><img class="row-icon-img gray" src="/static/icons/gcp.svg" title="GCP link" alt="GCP link"></a></td>
                </tr>
              </tbody>
            </table>
        </section>

    </div>

    <script>
        $(".tiptext").mouseover(function() {
            $(this).children(".popup").show();
        }).mouseout(function() {
            $(this).children(".popup").hide();
        });
    </script>

{% endblock %}
