{% extends "ar/layout.html" %}

{% block body %}
    <div class="cuerpo">

        <h1>صالح الغصون (الصفحة تحت الإنشاء)</h1>

        <section id="about">
            <h2>من أنا</h2>
            <p class="links">مرحباً، أسمي صالح، أنا خريج علوم كمبيوتر من جامعة تكسس في أوستن. أحب  <a href="/static/photos/read.jpg" class="curr-link tiptext">القراءة<iframe class="popup read" src="/static/photos/read.jpg"></iframe></a> و <a href="/static/photos/tech.jpg" class="curr-link tiptext">التقنية<iframe class="popup tech" src="/static/photos/tech.jpg"></iframe></a> و <a href="/static/photos/bike.jpg" class="curr-link tiptext">الدراجات<iframe class="popup bike" src="/static/photos/bike.jpg"></iframe></a> ;)</p>
            <p></p>
            <p>حالياً، أقيم في مدينة نيويورك لأداء التدريب العملي مع منظمة <a style="font-family: Muli, monospace; font-size: 1rem;"href="https://Kiva.org/">Kiva.</a> سمعت عن كيڤا عن طريق  <a href="https://www.youtube.com/watch?v=2964FGslkr8">برنامج خواطر.</a> </p>
        </section>

        <section id="projects">
            <h2>المشاريع</h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-name" scope="col">الاسم</th>
                  <th class="col-desc" scope="col">الوصف</th>
                  <th class="col-link col-git" scope="col">قيت هب</th>
                  <th class="col-link" scope="col">الموقع</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="cell row-name"><p class="p-name">فنون كامبردج</p></td>
                  <td class="cell row-desc"><p class="p-desc">تطبيق لأجهزة آبل، يتيح للمستخدم أن يستعرض أعمال الفن المتواجدة في المناطق العامة في مدينة كامبردج في ولاية ماساشوستس. فكرة التطبيق هي عرض هذه القطع الفنية التي غالباً ما تتجاهلها تطبيقات الخرائط.</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git english-font" href="https://github.com/qirh/CambridgeArt"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website dead">-</td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">مفضلتي</p></td>
                  <td class="cell row-desc"><p class="p-desc">تطبيق لأجهزة الأندرويد، الهدف من التطبيق هذا أن يبحث عن المواد الإعلامية (أفلام/مسلسلات) في عدة خدمات البث والفديو حسب الطلب، مثل هولو ونتفلكس. التطبيق يحاول حل مشكلة عدم توفر خاصية البحث في هذه الخدمات من دون وجود اشتراك وأيضاً يسهل على المستخدم خاصية البحث ما إذا كان مشترك في عدة خدمات. أخيراً، بإمكان المستخدم حفظ المواد الإعلامية في مفضلة.</p></td>
                  <td class="row-icon row-git"><a class="anchor-git english-font" href="https://github.com/qirh/MyQueue"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="row-icon row-website dead">-</td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">داوننق جونز</p></td>
                  <td class="cell row-desc"><p class="p-desc">تطبيق ويب كامل (فول ستاك). كان مشروع لمادة هندسة البرمجيات في الجامعة. يستعرض معلومات عن أسهم تتبع ل ٧ أسواق مختلفة، المعلومات تجمع عن طريق API شركة ياهو. كما أن التطبيق يحوي على بوابة API خاصة به</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git english-font" href="https://github.com/qirh/jones"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="http://salehjones.com/"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr >
                  <td class="cell row-name"><p class="p-name">تكسس أولاً</p></td>
                  <td class="cell row-desc"><p class="p-desc">Extension to Google Chrome. When activated, it will loop over lists of US states and put "TX"/"Texas" at the top</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git english-font" href="https://github.com/qirh/TexasFirst"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website english-font" href="https://chrome.google.com/webstore/detail/texas-first/cflpfjhdephkbknjgidjkcfhohbddlnh"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr class="last-row">
                  <td class="cell row-name"><p class="p-name">Voice Garden</p></td>
                  <td class="cell row-desc"><p class="p-desc">Google Voice Application, enables the user to verbally issue commands and request information from an Arduino (EcoDuino)</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git english-font" href="https://github.com/qirh/VoiceGarden"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website english-font" href="voicegarden"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
              </tbody>
            </table>
        </section>

        <section id="contact">
            <h2>أتصل بي</h2>
            <p>حالياً، ما عندي حسابات تواصل إجتماعي أو لنكد إن، فإذا كان بودك التواصل معي، إيميلي  <a href="mailto:salehg@live.com">salehg@live.com</a> خاصة إذا ودك توظفني :)</p>
        </section>

    </div>

    <script>
        $(".tiptext").mouseover(function() {
            $(this).children(".popup").show();
        }).mouseout(function() {
            $(this).children(".popup").hide();
        });
    </script>
{% endblock %}
