<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="description" content="موقع صالح الغصون، التعريف بالنفس هي أكبر نقاط ضعفي :)">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--meta name="description" content="almrausch"-->
    <meta name="author" content="saleh">
    <meta name="theme-color" content="#ffffff">

    <title>{{ title }}</title>

    <link rel="icon" href="/static/icons/salehicon.png">
    <link rel="apple-touch-icon" href="/icons/salehicon-200x200.png">
    <link rel="manifest" href="/static/json/manifest.json">
    <link rel="alternate" href="https://saleh.alghusson.com/es" hreflang="es">
    <link rel="alternate" href="https://saleh.alghusson.com/en" hreflang="en">
    <link rel="canonical" href="https://saleh.alghusson.com/ar">

    <script>
      if('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/js/sw.js')
              .then(function(registration) {
                    //console.log('Service Worker Registered');
              });
            navigator.serviceWorker.ready.then(function(registration) {
               //console.log('Service Worker Ready');
            });
        }
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-118771568-1', 'auto');
        ga('send', 'pageview');
    </script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Amiri|Scheherazade" rel="stylesheet">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <link href="/static/css/style-ar.css" type="text/css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- jQuery Cookie -->
    <script src="/static/js/js.cookie.js"></script>
    <!-- Language Switcher -->
    <script src="/static/js/language.js"></script>
    {% block js %}{% endblock %}
</head>

<body onload="loadPage()">

{% block body %}{% endblock %}

<!-- FOOTER-->
<footer class="footer fixed-bottom navbar-fixed-bottom">
    <div class="container text-center">
        <p style="margin-bottom: 0rem;">
            <span>
                <a href="" onclick="checkLanguage('ar', 'en');return false;" class="curr-link english-font">English</a>
            </span>
            | <span title='muy pronto'>
                <a href="" onclick="checkLanguage('ar', 'es');return false;" class="un-available-link english-font">Español</a>
              </span>
            | <span title='em breve'>
                <a onclick="checkLanguage('ar', 'pt');return false;" class="un-available-link english-font">Português</a>
              </span>
            | <span title='à venir'>
                <a onclick="checkLanguage('ar', 'fr');return false;" class="un-available-link english-font">Français</a>
              </span>
            | <span title='Demnächst'>
                <a onclick="checkLanguage('ar', 'de');return false;" class="un-available-link english-font">Deutsch</a>
              </span>
            | <span>
                <a href="" onclick="checkLanguage('ar', 'ar');return false;" class="available-link">العربية</a>
              </span>
            | <span title='יגיע בקרוב'>
                <a title="יגיע בקרוב" onclick="checkLanguage('ar', 'he');return false;" class="un-available-link english-font">עברית</a>
              </span>
        </p>
    </div>
</footer>
</body>
</html>
