{% extends "ar/layout.html" %}

{% block css %}
    <!-- projects.css -->
    <link href="/static/projects.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    <table class="projects">
        <tr class="emptyRow">
            <td class="project">
                <p class="lead" align="center">أدناه حبيت أني القي الضوء على بعض المشاريع التي عملت عليها في الفترة المؤخرة، جميع هذه المشاريع مفتوحة المصدر وبوسعكم تصفح جميع مشاريعي المفتوحة على صفحتي في موقع (قيت هب) هنا  <a href="https://github.com/qirh"><i class="fa fa-github fa-2x" style="color:black;" aria-hidden="true"></i></a></p>
            </td>
        </tr>
        <tr class="projectRow">
            <td class="project">
                <p class="title"><b>دليل أعمال الفن في الأماكن العامة</b></p>
                <br>
                <p class="mobile"><img id="img0" onclick="modal(this.id)" src="/static/projects/cambridgeart/map.png" alt="خارطة كامبردج">تطبيق لأجهزة ال iOS. هذا التطبيق يهدف إلى أن يكون دليل لجميع أعمال الفن في مدينة كامبردج الجميلة في ولاية ماساتشوستس في الولايات المتحدة</p>
                <br>
                <div class="buttonsWrapper">
                    <a class="btn btn-small btn-info" href="cambridgeart" style="margin-bottom: 25px; margin-left: 15px;"><i class="icon-info-sign"></i>التفاصيل</a>
                    <a style="margin-right: 15px;" href="https://github.com/qirh/CambridgeArt">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td class="project">
                <br>
            </td>
        </tr>
        <tr class="projectRow">
            <td class="project">
                <p class="title"><b>لستة الأفلام والمسلسلات في خدمات البث</b></p>
                <br>
                <p class="mobile"><img id="img1" onclick="modal(this.id)" src="/static/projects/myqueue/remove.png" alt="Media details activity of the app">برنامج لأجهزة تشغيل اندرويد يهدف إلى جمع قائمة الأفلام والمسلسلات من ع</p>
                <br>
                <div class="buttonsWrapper">
                    <a class="btn btn-small btn-info" href="myqueue" style="margin-bottom: 25px; margin-left: 15px;"><i class="icon-info-sign"></i>التفاصيل</a>
                    <a style="margin-right: 15px;" href="https://github.com/qirh/MyQueue">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td class="project">
                <br>
            </td>
        </tr>
        <tr class="projectRow">
            <td class="project">
                <p class="title"><b>موقع داوننق جونز</b></p>
                <br>
                <p class="square"><img id="img2" onclick="modal(this.id)" src="/static/projects/downingjones/stocks.png" alt="Stocks page of the site">Downing Jones is a website that displays stock options from 7 different stock markets using Yahoo's API</p>
                <br>
                <div class="buttonsWrapper">
                    <a class="btn btn-small btn-info" href="downing" style="margin-bottom: 25px; margin-left: 15px;"><i class="icon-info-sign"></i>التفاصيل</a>
                    <a class="btn btn-small btn-info green" href="http://salehjones.com" style="margin-bottom: 25px; margin-left: 5px;"><i class="icon-info-sign"></i>الموقع</a>
                    <a style="margin-right: 15px;" href="https://github.com/qirh/jones">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td class="project">
                <br>
            </td>
        </tr>
        <tr class="projectRow">
            <td class="project">
                <p class="title"><b>تكسس في المقدمة!</b></p>
                <br>
                <p class="square"><img id="img3" onclick="modal(this.id)" src="/static/projects/texas/tx.png" alt="TX is pushed to the top">Chrome extension that pushes Texas at the top of state lists</p>
                <br>
                <div class="buttonsWrapper">
                    <a class="btn btn-small btn-info" href="texas" style="margin-bottom: 25px; margin-left: 15px;"><i class="icon-info-sign"></i>التفاصيل</a>
                    <a class="btn btn-small btn-info green" href="https://chrome.google.com/webstore/detail/texas-first/cflpfjhdephkbknjgidjkcfhohbddlnh" style="margin-bottom: 25px; margin-left: 5px;"><i class="icon-info-sign"></i>متجر كروم</a>
                    <a style="margin-right: 15px;" href="https://github.com/qirh/TexasFirst">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td class="project">
                <br>
            </td>
        </tr>
    </table>
    <!-- source: https://www.w3schools.com/howto/howto_css_modal_images.asp -->
    <div id="modal" class="modal">
        <span class="modalClose">&times;</span>
        <img class="modalContent" id="modalImg">
        <div id="modalCaption"></div>
    </div>
{% endblock %}
