{% extends "es/projects.html" %}
{% block project %}

    <div class="container" style="padding: 10px 15px 0">
        <h2>My Queue</h2>
        <p>MyQueue was also a super fun Android project that I worked on in the beginning of 2017. MyQueue gives users a chance to display movies and TV shows from a handful of streaming services at the same time. Users are also be able to add movies and TV shows to their queue, which will be synchornized in the cloud using Google's firebase. Git repo here: <a href="https://github.com/qirh/MyQueue">https://github.com/qirh/MyQueue</a></p>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="slider-size-and">
                        <img class="d-block img-fluid" src="/static/projects/myqueue/home_page.png" alt="Home Activity">
                        <!--div class="carousel-caption d-none d-md-block">
                            <p style="color:midnightblue;">Map of art installations in Cambridge, MA</p>
                        </div-->
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-size-and">
                        <img class="d-block img-fluid" src="/static/projects/myqueue/myqueue.png" alt="Queue Activity">
                        <!--div class="carousel-caption d-none d-md-block">
                            <p style="color:midnightblue;">List of art installations</p>
                        </div-->
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-size-and">
                        <img class="d-block img-fluid" src="/static/projects/myqueue/remove.png" alt="removing">
                        <!--div class="carousel-caption d-none d-md-block">
                            <p style="color:midnightblue;">Settings view, with the language picker visible. Currently, 5 languages are supported</p>
                        </div-->
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-size-and">
                        <img class="d-block img-fluid" src="/static/projects/myqueue/select_sources.png" alt="select sources">
                        <!--div class="carousel-caption d-none d-md-block">
                            <p style="color:midnightblue;">About me view, while the language is set to Hebrew</p>
                        </div-->
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-size-and">
                        <img class="d-block img-fluid" src="/static/projects/myqueue/settings.png" alt="Settings Activity">
                        <!--div class="carousel-caption d-none d-md-block">
                            <p style="color:midnightblue;">About me view, while the language is set to Hebrew</p>
                        </div-->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a >
        </div>
    </div>
{% endblock %}
