{% extends "es/projects.html" %}
{% block project %}
    <div class="container" style="padding: 10px 15px 0">
        <h2>Game of Life</h2>
        <p>A very fun implementation Conway's famous Game of Life. I present it with a few game options such as the ability to load preset configurations. Uses threads from Grand Dispatch to simulate the board while giving the user the chance to vary the simulation speed. Github repo: <a href="https://github.com/qirh/gameoflife">https://github.com/qirh/gameoflife</a></p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/static/projects/gameoflife/main.png" target="_blank">
                        <img class="imgBorder" src="/static/projects/gameoflife/main.png" alt="Simulation" style="width:100%">
                        <div class="caption">
                            <p>A running simulation</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
