{% extends "ar/layout.html" %}

{% block body %}
    <div class="container">
      <div class="main">
        <h1>مرحباً!</h1>
        <p style="display:inline; margin: 0;" class="lead">أنا صالح، وهذا موقعي<br></p>
        <p style="display:inline; margin: 0;" class="lead">إذا كان فيه أي ملاحظات أو أسئلة، أتشرف بالتواصل معكم عن طريق الايميل: </p>
        <p style="display:inline; margin: 0;" class="lead"><a href="mailto:salehg@live.com">salehg@live.com</a><br></p>
        <p style="display:inline; margin: 0;" class="lead">كما إن كود الموقع مستضاف في موقع على قيت هب هنا </p>
        <p style="display:inline; margin: 0;" class="lead"><a href="https://github.com/qirh"><i class="fa fa-github fa-2x" style="color:black;" aria-hidden="true"></i></a><br></p>
        <p style="display:inline; margin: 0;" class="lead">ملاحظة: لأن الموقع للتو تحت الإنشاء فدعم اللغة العربية لم يكتمل بعد، وأيضاً لأن قواعد الموقع للآن لم ترسى، من المحتمل أن تكون بعض خصائص الموقع ناقصة أو أن لا تعمل بالشكل المطلوب &#x1f605</p>
      </div>
    </div>
{% endblock %}
