{% extends "ar/projects.html" %}
{% block project %}
    <div class="container" style="padding: 10px 15px 0">
        <h2>DowningJones</h2>
        <p>This project was done by a team of six people during the summer of 2016, as a project for the course of Software Engineering at UT. The website lives here: <a href="salehjones.com">salehjones.com</a> or it can be accessed by the button in the navbar.
            Furthermore, this project shares a repo with this website, avaliable here: <a href="https://github.com/qirh/site">https://github.com/qirh/site</a> This project has also been throughly documented, which can be viewed here: <a href="https://github.com/kelvinhe273/IDB-Group7/wiki">https://github.com/kelvinhe273/IDB-Group7/wiki</a>
        </p>
        <div id="carousel" class="carousel slide" data-interval="6000" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="slider-size">
                        <img class="d-block img-fluid" src="/static/projects/downingjones/main.png" alt="Main page of the site">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-size">
                        <img class="d-block img-fluid" src="/static/projects/downingjones/stocks.png" alt="Stocks page of the site">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="color:whitesmoke;">Available stock exchanges</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-size">
                        <img class="d-block img-fluid" src="/static/projects/downingjones/comapnies.png" alt="Companies page of the site">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="color:whitesmoke;">Available companies</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-size">
                        <img class="d-block img-fluid" src="/static/projects/downingjones/location.png" alt="Location page of the site, showing Berlin, Germany">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="color:whitesmoke;">Location example</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-size">
                        <img class="d-block img-fluid" src="/static/projects/downingjones/about.png" alt="About page of the site">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="color:whitesmoke;">About page</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a >
        </div>
    </div>
{% endblock %}
