body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem 1rem 1rem 1rem;
}
.cuerpo {
    margin: 0rem 0rem 3rem 0rem;
}
footer {
    position: relative;
    bottom: 0;
    background-color: #F4F3F3 !important;
}
a {
    border-bottom: none !important;
}
.available-link {
    color: rgb(79, 175, 78) !important; /* 4FAF4E   */
}
.curr-link {
    color: rgb(0, 110, 211) !important; /* 006ED3   */
}
.un-available-link {
    pointer-events: none;
    cursor: default;
    color: rgb(119, 119, 119) !important;
}

h1, h2, th {
    font-family: "Merriweather Sans", Times;
    margin-bottom: 1.25rem;
}
th {
    font-weight:bold;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
p, ul, td {
    font-family: Muli, Times;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.links {
    display: inline;
}
.tiptext {

    cursor:pointer;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    width:500px;
    height:800px;
    -ms-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.travel {
    width:1000px;
    height:750px;
}
.bike {
    width:600px;
    height:850px;
}
.icon-col {
    text-align: center;
}
.table thead th {
    border-top: 0px;
}
.last-row {
    border-bottom: 1px solid #eceeef;
}

/* Mobile */
@media only screen and (max-width: 599px) {
    thead {
        display: none;
    }
    .col-name {
        width: 10%;
    }
    .col-desc {
        width: 85%;
    }
    .col-link {
        width: 2.5%;
    }
    .icon-col-img {
        width: 25px;
        height: 25px;
    }
    /*  Collapse table  */
    .table td, .table th {
        border: none;
    }
}
/* Tablets */
@media only screen and (min-width: 600px) {
    thead {
        display: table-header-group;
    }
    .col-name {
        width: 15%;
    }
    .col-desc {
        width: 80%;
    }
    .col-link {
        width: 2.5%;
    }
    .icon-col-img {
        width: 20px;
        height: 20px;
    }
    h1, h2, th {
        margin-bottom: 1.75rem;
    }
}
/* Desktop */
@media only screen and (min-width: 768px) {
    thead {
        display: table-header-group;
    }
    .col-name {
        width: 20%;
    }
    .col-desc {
        width: 75%;
    }
    .col-link {
        width: 2.5%;
    }
    .icon-col-img {
        width: 30px;
        height: 30px;
    }
    p, ul, td {
        margin-bottom: 1.5rem;
    }
}
