{% extends "ar/layout.html" %}
{% block body %}
    <div class="container">
      <div class="main">
        <h1>مرحباً!</h1>
        <p style="display:inline; margin: 0;" class="lead">أنا صالح، وهذا موقعي، الموقع للآن تحت الإنشاء<br></p>
        <p style="display:inline; margin: 0;" class="lead">إذا كان فيه أي ملاحظات أو أسئلة، أتشرف بالتواصل معكم عن طريق الايميل: </p>
        <p style="display:inline; margin: 0;" class="lead"><a href="mailto:salehg@live.com">salehg@live.com</a><br></p>
        <p style="display:inline; margin: 0;" class="lead">كما إن صفحة الموقع على قيت هب موجودة في الرابط: </p>
        <p style="display:inline; margin: 0;" class="lead"><a href="https://github.com/qirh/site">https://github.com/qirh/site</a><br></p>
        <p style="display:inline; margin: 0;" class="lead">ملاحظة: دعم اللغة العربية  </p>
      </div>
    </div>
{% endblock %}
