certifi==2018.4.16
chardet==2.3.0
Django==1.9.8
django-cors-headers==1.1.0
djangorestframework==3.4.0
gmvault==1.9.1
IMAPClient==0.13
Logbook==0.10.1
pipenv==2018.7.1
psycopg2-binary==2.7.5
six==1.11.0
SQLAlchemy==1.2.9
virtualenv==16.0.0
virtualenv-clone==0.3.0
