{% extends "/en/layout.html" %}

{% block body %}

    <div class="cuerpo">

        <h1>Saleh Alghusson</h1>

        <section id="about">
            <h2>About</h2>
            <p class="links">I studied Computer Science at the University of Texas. I'm passionate about <a href="/static/photos/tech.jpg" class="curr-link tiptext">technology<iframe class="popup tech" src="/static/photos/tech.jpg"></iframe></a>, <a href="/static/photos/travel.jpg" class="curr-link tiptext">travel<iframe class="popup travel" src="/static/photos/travel.jpg"></iframe></a> and <a href="/static/photos/bike.jpg" class="curr-link tiptext">two wheeled vehicles<iframe class="popup bike" src="/static/photos/bike.jpg"></iframe></a> ;)</p>
            <p></p>
            <p>Currently, I'm based out of NYC with <a href="https://Kiva.org/">Kiva.</a> And I also run a tiny <a href="https://qirh.github.io/">blog</a> that I should update more often.</p>
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-name" scope="col">Name</th>
                  <th class="col-desc" scope="col">Description</th>
                  <th class="col-link" scope="col">Github</th>
                  <th class="col-link" scope="col">Website</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="cell row-name"><p class="p-name">Cambridge Art</p></td>
                  <td class="cell row-desc"><p class="p-desc">iOS app that shows public art for the city of Cambridge, Massachusetts. Translated into five Languages.</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/CambridgeArt"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website dead">-</td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">MyQueue</p></td>
                  <td class="cell row-desc"><p class="p-desc">Android app that displays media information (Movies/TV shows) for multiple streaming services in one place.</p></td>
                  <td class="row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/MyQueue"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="row-icon row-website dead">-</td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">Downing Jones</p></td>
                  <td class="cell row-desc"><p class="p-desc">Full stack web application that displays and compares stock market information from different markets simultaneously. <a href="https://salehjones.docs.apiary.io/">API documentation</a>.</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/jones"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="http://salehjones.com/"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr >
                  <td class="cell row-name"><p class="p-name">Texas First</p></td>
                  <td class="cell row-desc"><p class="p-desc">Extension to Google Chrome. When activated, it will loop over lists of US states and put "TX"/"Texas" at the top</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/TexasFirst"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="https://chrome.google.com/webstore/detail/texas-first/cflpfjhdephkbknjgidjkcfhohbddlnh"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr class="last-row">
                  <td class="cell row-name"><p class="p-name">Voice Garden</p></td>
                  <td class="cell row-desc"><p class="p-desc">Google Voice Application, enables the user to verbally issue commands and request information from an Arduino (EcoDuino)</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/VoiceGarden"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="voicegarden"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
              </tbody>
            </table>
        </section>

        <section id="contact">
            <h2>Contact me</h2>
            <p>If you're interested in hiring a very <a href="/static/photos/moi-sans-moustache.jpg">handsome</a> software engineer, or for anything else, my email is <a href="mailto:salehg@live.com">salehg@live.com</a></p>
        </section>

    </div>

    <script>
        $(".tiptext").mouseover(function() {
            $(this).children(".popup").show();
        }).mouseout(function() {
            $(this).children(".popup").hide();
        });
    </script>

{% endblock %}
