body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem 1rem 0rem 0rem;
}
.cuerpo {
    margin: 0rem 0rem 1rem 1rem;
}
footer {
    position: relative;
    bottom: 0;
    background-color: #F4F3F3 !important;
}
a {
    font-family: 'Roboto Slab', sans-serif !important;
    border-bottom: none !important;
}

.availableLink {
    color: rgb(60, 200, 80) !important;
}

.currLink {
    color: rgb(0, 20, 255) !important;
}

.unAvailableLink {
    pointer-events: none;
    cursor: default;
    color: rgb(119, 119, 119) !important;
}

h1, h2, th {
    font-family: "Muli", serif, Times;
    margin-bottom: 1.75rem;
}
p, ul {
    font-family: Raleway, serif, Times;
    margin-bottom: 1rem;
}
.box {
    display: none;
    width: 100%;
}
p:hover + .box, .box:hover {
    display: block;
    position: relative;
    z-index: 100;
}