{% extends "layout.html" %}

{% block body %}
    <div class="container">
      <div class="main">
        <h1>Welcome!</h1>
        <p class="lead">This website is a continuos work in progress<br>While I prefer privacy, I still realize the importance of having an online presence even if it is minimal.<br> For questions or inquiries: <a href="mailto:salehg@live.com">salehg@live.com</a><br>Site repo: <a href="https://github.com/qirh/sala">https://github.com/qirh/sala</a></p>
          <p class="lead">Currently, I'm focusing on localization, as of this commit, the status of language support is <b>Fully supported:</b> English. <b>In progress:</b> <a href="" onclick="checkLanguage('en', 'ar');return false;" class="availableLink">Arabic</a> & <a href="" onclick="checkLanguage('en', 'es');return false;" class="availableLink">Spanish</a>. <b>Not yet supported:</b> Everything else</p>
      </div>
    </div>  
{% endblock %}
