{% extends "layout.html" %}

{% block body %}

    <div class="cuerpo">

        <h1>Saleh Alghusson</h1>

        <section id="about">
            <h2>About me</h2>
            <p class="links">I studied Computer Science at the University of Texas. I'm passionate about <a href="/static/photos/tech.jpg" class="curr-link tiptext">technology<iframe class="description" src="/static/photos/tech.jpg"></iframe></a>, <a href="/static/photos/travel.jpg" class="curr-link tiptext">travel<iframe class="description travel" src="/static/photos/travel.jpg"></iframe></a> and <a href="/static/photos/bike.jpg" class="curr-link tiptext">two wheeled vehicles<iframe class="description bike" src="/static/photos/bike.jpg"></iframe></a> ;)</p>
            <p/>
            <p>Currently, I'm based out of NYC with <a href="https://Kiva.org/">Kiva.</a> And I also run a tiny <a href="https://qirh.github.io/">blog</a> that I should update more often.</p>
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-name" scope="col">Name</th>
                  <th class="col-desc" scope="col">Description</th>
                  <th class="col-link" scope="col">Github</th>
                  <th class="col-link" scope="col">Website</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cambridge Art Navigator</td>
                  <td>iOS app that shows public art for the city of Cambridge, Massachusetts</td>
                  <td class="icon-col"><a href="https://github.com/qirh/CambridgeArt"><img class="icon-col-img" src="/static/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="icon-col">-</td>
                </tr>
                <tr>
                  <td >MyQueue</td>
                  <td>Android app that displays media information (Movies/TV shows) for multiple streaming services in one place</td>
                  <td class="icon-col"><a href="https://github.com/qirh/MyQueue"><img class="icon-col-img" src="/static/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="icon-col">-</td>
                </tr>
                <tr>
                  <td>Downing Jones</th>
                  <td>Full stack web application that displays and compares stock market information from different markets simultaneously</td>
                  <td class="icon-col"><a href="https://github.com/qirh/jones"><img class="icon-col-img" src="/static/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="icon-col"><a href="http://salehjones.com/"><img class="icon-col-img" src="/static/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr>
                  <td>Texas First !</th>
                  <td>Extension to Google Chrome. When activated, it will loop over lists of US states and put "TX"/"Texas" at the top</td>
                  <td class="icon-col"><a href="https://github.com/qirh/TexasFirst"><img class="icon-col-img" src="/static/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="icon-col"><a href="https://chrome.google.com/webstore/detail/texas-first/cflpfjhdephkbknjgidjkcfhohbddlnh"><img class="icon-col-img" src="/static/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr>
                  <td>Voice Garden</th>
                  <td>Google Voice Application, enables the user to verbally issue commands and request information from an Arduino (EcoDuino)</td>
                  <td class="icon-col"><a href="https://github.com/qirh/VoiceGarden"><img class="icon-col-img" src="/static/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="icon-col"><a href="voicegarden"><img class="icon-col-img" src="/static/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
              </tbody>
            </table>
        </section>

        <section id="contact">
            <h2>Contact me</h2>
            <p>If you're interested in hiring a very <a href="/static/photos/moi-sans-moustache.jpg">handsome</a> software engineer, or for anything else, my email is <a href="mailto:salehg@live.com">salehg@live.com</a></p>
        </section>

    </div>

    <script>
        $(".tiptext").mouseover(function() {
            $(this).children(".description").show();
        }).mouseout(function() {
            $(this).children(".description").hide();
        });
    </script>

{% endblock %}
