{% extends "layout.html" %}

{% block css %}
    <!-- projects.css -->
    <link href="/static/projects.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    <table class="projects">
        <tr class="emptyRow">
            <td class="project">
                <p class="lead" align="center">I have worked on a number of projects in CS over the last few years, here I present some of my favorites. Below is a working representation of what I am involved in and will be continuously updated.<br>For more information, please checkout my git page here <a href="https://github.com/qirh"><i class="fa fa-github fa-2x" style="color:black;" aria-hidden="true"></i></a></p>
            </td>
        </tr>
        <tr class="projectRow">
            <td class="project">
                <p class="title" >Cambridge Art Navigator</p>
                <br>
                <p class="mobile"><img id="img0" onclick="modal(this.id)" src="/static/projects/cambridgeart/map.png" alt="Map of Cambridge, MA">iOS application that displays public art installations in the city of Cambridge, MA</p>
                <br>
                <div class="buttonsWrapper">
                    <a class="btn btn-small btn-info" href="cambridgeart" style="margin-bottom: 25px; margin-right: 15px;"><i class="icon-info-sign"></i>More Info</a>
                    <a style="margin-left: 15px;" href="https://github.com/qirh/CambridgeArt">
                        <i class="fa fa-github fa-3x" style="color:blueviolet;" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td class="project">
                <br>
            </td>
        </tr>
        <tr class="projectRow">
            <td class="project">
                <p class="title" style="font-family: 'Share', serif;">MyQueue</p>
                <br>
                <p class="mobile"><img id="img1" onclick="modal(this.id)" src="/static/projects/myqueue/remove.png" alt="Media details activity of the app">MyQueue is an Android application that streamlines the experience of finding on which streaming services a particular TV series or a movie is</p>
                <br>
                <div class="buttonsWrapper">
                    <a class="btn btn-small btn-info" href="myqueue" style="margin-bottom: 25px; margin-right: 15px;"><i class="icon-info-sign"></i>More Info</a>
                    <a style="margin-left: 15px;" href="https://github.com/qirh/MyQueue">
                        <i class="fa fa-github fa-3x" style="color:salmon;" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td class="project">
                <br>
            </td>
        </tr>
        <tr class="projectRow">
            <td class="project">
                <p class="title">Downing Jones</p>
                <br>
                <p class="square"><img id="img2" onclick="modal(this.id)" src="/static/projects/downingjones/stocks.png" alt="Stocks page of the site">Downing Jones is a website that displays stock options from 7 different stock markets using Yahoo's financial API</p>
                <br>
                <div class="buttonsWrapper">
                    <a class="btn btn-small btn-info" href="downing" style="margin-bottom: 25px; margin-right: 15px;"><i class="icon-info-sign"></i>More Info</a>
                    <a class="btn btn-small btn-info green" href="http://salehjones.com" style="margin-bottom: 25px; margin-right: 5px;"><i class="icon-info-sign"></i>Website</a>
                    <a style="margin-left: 15px;" href="https://github.com/qirh/site">
                        <i class="fa fa-github fa-3x" style="color:darkgoldenrod;" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td class="project">
                <br>
            </td>
        </tr>
        <tr class="projectRow">
            <td class="project">
                <p class="title">Texas First!</p>
                <br>
                <p class="square"><img id="img3" onclick="modal(this.id)" src="/static/projects/texas/tx.png" alt="TX is pushed to the top">Chrome extension that pushes Texas at the top of state lists</p>
                <br>
                <div class="buttonsWrapper">
                    <a class="btn btn-small btn-info" href="texas" style="margin-bottom: 25px; margin-right: 15px;"><i class="icon-info-sign"></i>More Info</a>
                    <a class="btn btn-small btn-info green" href="https://chrome.google.com/webstore/detail/texas-first/cflpfjhdephkbknjgidjkcfhohbddlnh" style="margin-bottom: 25px; margin-right: 5px;"><i class="icon-info-sign"></i>Chrome Store</a>
                    <a style="margin-left: 15px;" href="https://github.com/qirh/TexasFirst">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td class="project">
                <br>
            </td>
        </tr>
    </table>
    <!-- source: https://www.w3schools.com/howto/howto_css_modal_images.asp -->
    <div id="modal" class="modal">
        <span class="modalClose">&times;</span>
        <img class="modalContent" id="modalImg">
        <div id="modalCaption"></div>
    </div>
{% endblock %}
