<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Saleh Alghusson's website, gamer, pro grammar, programmer">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--meta name="description" content="almrausch"-->
        <meta name="author" content="saleh">

        <title>{{ title }}</title>

        <link rel="icon" href="/static/salaicon.png">
        <link rel="apple-touch-icon" href="/salaicon-192x192.png">
        <link rel="alternate" href="http://saladesaleh.com/es" hreflang="es">
        <link rel="alternate" href="http://saladesaleh.com/ar" hreflang="ar">

    </head>

    <body>

    </body>

</html>