{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="main">
        <h1>Welcome!</h1>
        <p class="lead">Hey, this website, as its writer, is a work under construction.<br>I wanted to build this website because I don't like to share private information on the internet, but I still realize the importance of having a presence even if it is minimal. For questions or anything else please email me: <a href="mailto:salehg@live.com">salehg@live.com</a><br>website repo: <a href="https://github.com/qirh/site">https://github.com/qirh/site</a></p>
      </div>
    </div>
{% endblock %}
