{% extends "projects.html" %}
{% block project %}

    <div class="container" style="padding: 10px 15px 0">
        <h2>¡Texas First!</h2>
        <p>MyQueue was also a super fun Android project that I worked on in the beginning of 2017. MyQueue gives users a chance to display movies and TV shows from a handful of streaming services at the same time. Users are also be able to add movies and TV shows to their queue, which will be synchornized in the cloud using Google's firebase. Git repo here: <a href="https://github.com/qirh/MyQueue">https://github.com/qirh/MyQueue</a></p>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!-- ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol -->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="static/projects/texas/tx.png" alt="First slide">
                    <div class="carousel-caption d-none d-md-block" style="bottom: -20px;">
                        <!-- h3 style="color:red;">DESC1</h3 -->
                        <p style="color:midnightblue;">TX is pushed to the top</p>
                    </div>
                </div>
            </div>
            <!-- a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a -->
        </div>
    </div>
    <br>
    <br>
{% endblock %}
