style="padding: 10px 15px 0"{% extends "projects.html" %}
{% block project %}
    <div class="container" style="padding: 10px 15px 0">
        <h2>DowningJones</h2>
        <p>This project was done by a team of six people during the summer of 2016, as a project for the course of Software Engineering at UT. The website lives here: <a href="salehjones.com">salehjones.com</a> or it can be accessed by the button in the navbar.
            Furthermore, this project shares a repo with this website, avaliable here: <a href="https://github.com/qirh/site">https://github.com/qirh/site</a> This project has also been throughly documented, which can be viewed here: <a href="https://github.com/kelvinhe273/IDB-Group7/wiki">https://github.com/kelvinhe273/IDB-Group7/wiki</a>
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/downingjones/main.png" target="_blank">
                        <img class="imgBorder" src="static/projects/downingjones/main.png"
                             alt="Main page with a Carousel"
                             style="width:100%">
                        <div class="caption">
                            <p>Main page with a Carousel</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/downingjones/stocks.png" target="_blank">
                        <img class="imgBorder" src="static/projects/downingjones/stocks.png"
                             alt="Available stock exchanges"
                             style="width:100%">
                        <div class="caption">
                            <p>Available stock exchanges</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/downingjones/comapnies.png" target="_blank">
                        <img class="imgBorder" src="static/projects/downingjones/comapnies.png"
                             alt="Available companies"
                             style="width:100%">
                        <div class="caption">
                            <p>Available companies</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/downingjones/location.png" target="_blank">
                        <img class="imgBorder" src="static/projects/downingjones/location.png"
                             alt="Location example"
                             style="width:100%">
                        <div class="caption">
                            <p>Location example</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/downingjones/about.png" target="_blank">
                        <img class="imgBorder" src="static/projects/downingjones/about.png" alt="About page"
                             style="width:100%">
                        <div class="caption">
                            <p>About page</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
