{% extends "projects.html" %}
{% block project %}

    <div class="container" style="padding: 10px 15px 0">
        <h2>My Queue</h2>
        <p>MyQueue was also a super fun Android project that I worked on in the beginning of 2017. Basically, MyQueue gives users a chance to display movies and TV shows from a handful of streaming services at the same time. Moreover, useres will also be able to add movies and TV shows to their queue, which will be synchornized in the clud using Google's firebase. Git repo here: <a href="https://github.com/qirh/MyQueue">https://github.com/qirh/MyQueue</a></p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/home_page.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/home_page.png" alt="HomePage" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/myqueue.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/myqueue.png" alt="The Queue" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/remove.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/remove.png" alt="Media Details" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/select_sources.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/select_sources.png" alt="Don't worry, you're not missing much" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/settings.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/settings.png" alt="Setting" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
