<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="almrausch">
    <meta name="author" content="sal7">
    <link rel="icon" href="static/logo.png">

    <!--link href="bootstrap.min.css" rel="stylesheet"-->
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- style.css -->
    <link href="static/style.css" rel="stylesheet">
  </head>
  <!--#########-->
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index">Saleh Alghusson</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://qirh.github.io">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cv">CV</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item disabled" href="#">Español</a>
            <a class="dropdown-item disabled" href="#">Português</a>
            <a class="dropdown-item disabled" href="#">الْعَرَبِيَّةُ</a>
            <a class="dropdown-item disabled" href="#">עִבְרִית</a>
          </div>
      </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="main">

        <div class="list-group">
          <a href="artnavigator" class="list-group-item list-group-item-action">Cambridge Art Navigator</a>
          <a href="myqueue" class="list-group-item list-group-item-action disabled">MyQueue</a>
          <a href="apex" class="list-group-item list-group-item-action disabled">APEX</a>
          <a href="stockexchange" class="list-group-item list-group-item-action disabled">Stock Exchange Monitor</a>
          <a href="emailmanager" class="list-group-item list-group-item-action disabled">Email Manager</a>
        </div>

        <p class="lead">This is a really fun project, I got to develop an art map of public art installations in Cambridge, MA for iOS. I'm in the process of putting it in the app store, but for now, the repo can be found here: https://github.com/qirh/ArtNavigator</p>

        <img src="static/projects/artnavigator/1.png" class="img-responsive" alt="map">
        <img src="static/projects/artnavigator/2.png" class="img-responsive" alt="list">
        <img src="static/projects/artnavigator/3.png" class="img-responsive" alt="settings">
        <img src="static/projects/artnavigator/4.png" class="img-responsive" alt="about">
        <img src="static/projects/artnavigator/5.png" class="img-responsive" alt="details">
      </div>

    </div>
    <!-- jQuery -->
    <script src="static/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/ie10-viewport-bug-workaround.js"></script>
    <!--fallback in case cdn doesn't provide-->
    <!--src: https://stackoverflow.com/a/26198380 -->
    <div id="bootstrapCssTest" class="hidden"></div>
    <script>
      $(function() {
        if ($('#bootstrapCssTest').is(':visible')) {
          $("head").prepend('<link rel="stylesheet" href="static/bootstrap.min.css">');
        }
      });
    </script>
  </body>
</html>
