{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="main">
        <h1>Welcome!</h1>
        <p class="lead">Hey, this website is, as its creator, going through somewhat of an existential, I wouldn't call it a crisis, but perhaps a hiccup. <br>This website is the culmination of me not liking to share private information on the internet, but still realizing the importance of having a presence on the internet if it is minimal. Lastly, this website is still under construction, for questions or anything else please email me: salehg@live.com<br>website repo: https://github.com/qirh/site</p>
      </div>
    </div>
{% endblock %}
