{% extends "projects.html" %}
{% block project %}
    <div class="container">
        <h2>Game of Life</h2>
        <p>My first iPhone application! a very fun project, simulates Conway's Game of Life, github repo: <a href="https://github.com/qirh/gameoflife">https://github.com/qirh/gameoflife</a></p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/gameoflife/main.png" target="_blank">
                        <img class="imgBorder" src="static/projects/gameoflife/main.png" alt="Simulation" style="width:100%">
                        <div class="caption">
                            <p>A running simulation</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
