{% extends "projects.html" %}
{% block project %}

    <div class="container">
        <h2>My Queue</h2>
        <p>MyQueue was also a super fun Android project that I worked on in the begging of 2017. Description by co-developer kaivan shah (https://github.com/kaivan29): "MyQueue solves this issue by allowing the user to look through all the services they have available in one app. Our app also allows the user to queue movies and shows, voila that’s why the name myQueue!" https://github.com/qirh/MyQueue</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/home_page.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/home_page.png" alt="HomePage" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/myqueue.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/myqueue.png" alt="The Queue" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/remove.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/remove.png" alt="Media Details" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/select_sources.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/select_sources.png" alt="Don't worry, you're not missing much" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/myqueue/settings.png" target="_blank">
                        <img class="imgBorder" src="static/projects/myqueue/settings.png" alt="Setting" style="width:100%">
                        <div class="caption">
                            <p>xx</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
