{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="main">
        <p class="lead">I have been working on a number of projects over the last few years, some of them I'm really proud of and would like to share on here. However, redownloading repos and setting up dev environments is taking some time, espically because most of my projects are using technologies new to me. So, I'll keep updating this list and enabling buttons one by one, as well as also add new projects!</p>

        <div class="list-group">
          <a href="artnavigator" class="list-group-item list-group-item-action">Cambridge Art Navigator</a>
          <a href="gameoflife" class="list-group-item list-group-item-action">Game Of Life Simulation</a>
          <a href="myqueue" class="list-group-item list-group-item-action">MyQueue</a>
          <a href="sala" class="list-group-item list-group-item-action">This Website (woooooah, meta)</a>
          <a href="downing" class="list-group-item list-group-item-action">Downing Jones</a>
          <a href="emailmanager" class="list-group-item list-group-item-action disabled">Email Manager</a>
          <a href="security" class="list-group-item list-group-item-action disabled">Security</a>
        </div>
      </div>

    </div>
    {% block project %}{% endblock %}

{% endblock %}
