{% extends "projects.html" %}
{% block project %}
    <div class="container">
        <h2>Art Navigator</h2>
        <p>This was a really fun project to work on! I got to develop an interactive map of public art installations in Cambridge, MA for
            iOS. I'm in the process of putting it in the app store, but for now, the repo can be found here: <a href="https://github.com/qirh/ArtNavigator">https://github.com/qirh/ArtNavigator</a></p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/artnavigator/map.png" target="_blank">
                        <img class="imgBorder" src="static/projects/artnavigator/map.png" alt="Map of Cambridge, MA" style="width:100%">
                        <div class="caption">
                            <p>Map of art installations in Cambridge, MA</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/artnavigator/list.png" target="_blank">
                        <img class="imgBorder" src="static/projects/artnavigator/list.png" alt="List of art" style="width:100%">
                        <div class="caption">
                            <p>List of art installtions</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/artnavigator/settings.png" target="_blank">
                        <img class="imgBorder" src="static/projects/artnavigator/settings.png" alt="Settings view" style="width:100%">
                        <div class="caption">
                            <p>Settings view, with the language picker visible. Currently, 5 languages are fully supported</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="static/projects/artnavigator/about.png" target="_blank">
                        <img class="imgBorder" src="static/projects/artnavigator/about.png" alt="About in Spanish" style="width:100%">
                        <div class="caption">
                            <p>About me view, in Spanish mode</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
