.projects {
	margin: 3rem;
	-webkit-border-vertical-spacing: 5rem;
	border-collapse: collapse;
}
.projectRow {
	background-color: ghostwhite;
}
.emptyRow {
	background-color: white;
}
.project {
	padding: 1rem;
}
.title {

	font-weight:bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
.mobile, .square {
	text-align: justify;
	margin-left: 15px;
}
.mobile > img, .square > img {
	float: left;
	margin-right: 2rem;
	/*border: 1px dotted black;*/
}
.mobile > img {
	width: 170px;
	height: 270px;
}
.square > img {
	width: 200px;
	height: 170px;
}

.mobile:hover > img, .square:hover > img{
    opacity: 0.7;
}
.buttonsWrapper {
	margin: 0px auto 0px auto;
	text-align: center;
}
.green {
	background-color: rgb(60, 230, 70);
}
