body {
	padding-top: 5rem;
}

h2, p, .title, .mobile, .square {
    font-family: 'Bitter', serif;
}
.main {
	padding: 3rem 1.5rem;
	text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
}
.availableLink {
	color: rgb(60,200,80);
}
.currLink {
	color: rgb(0, 20, 255);
}
.unAvailableLink {
   pointer-events: none;
   cursor: default;
}
.bar {
    font-family: 'Ubuntu', sans-serif;
}