body {
    padding: 5px;
}

#frm {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

label {
    font-size: 12px;
    font-family: sans-serif;
}

label a {
    margin-right: 10px;
    margin-left: 5px;
    font-family: inherit;
    color: #009;
}

label a:hover {
    color: #906;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 9px;
    font-family: sans-serif;
    fill: #555;
    pointer-events: none;
}