form {
    margin: 0;
    padding-bottom: 1.5rem;
}
p {
    display:inline;
}
.toggle {
    padding-left: 1rem;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 0.5rem;
    font-family: Muli, monospace;
    fill: #555;
    pointer-events: none;
}