body {
    padding: 5px;
}
#frm {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

label {
    font-size: 0.8rem;
    font-family: Muli, monospace;
}
label a {
    margin-right: 10px;
    margin-left: 5px;
    font-family: inherit;
    color: #009;
}
label a:hover {
    color: #906;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 0.5rem;
    font-family: Muli, monospace;
    fill: #555;
    pointer-events: none;
}