{% extends "ar/layout.html" %}

{% block css %}
    <!-- 404.css -->
    <link href="/static/css/404.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="wrapper row2">
      <div id="container" class="clear">

        <section id="fof" class="clear">
          <div class="hgroup">
            <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
            <h2>Error ! <span>Arabic</span></h2>
          </div>
          <p>The page you requested could not be found on our server</p>
          <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="https://saleh.alghusson.com">Go Home &raquo;</a></p>
        </section>
      </div>
    </div>
{% endblock %}
