{% include "/ar/skeleton.html" %}


{% block css %}
    {% if task == '404' %}
    {% endif %}
    {% if task == 'cv' %}
    {% endif %}
    {% if task == 'photo' %}
    {% endif %}
    {% if task == 'voicegarden' %}
    {% endif %}
    {% if task == 'graph' %}
        <link href="/static/css/style-graph.css" type="text/css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block body %}

    <section id="back">
        <p>> <a href="https://saleh.alghusson.com">الرئيسية</a></p>
    </section>

    {% if task == '404' %}
        {% include '/ar/404.html' %}
    {% endif %}
    {% if task == 'cv' %}
        {% include '/ar/cv.html' %}
    {% endif %}
    {% if task == 'photo' %}
        {% include '/ar/photo.html' %}
    {% endif %}
    {% if task == 'voicegarden' %}
        {% include '/ar/voicegarden.html' %}
    {% endif %}
    {% if task == 'graph' %}
        {% include '/ar/graph.html' %}
    {% endif %}

{% endblock %}
