{% include "/ar/skeleton.html" %}


{% block body %}

    <section id="back">
        <p>> <a href="https://saleh.alghusson.com">الرئيسية</a></p>
    </section>

    {% if task == '404' %}
        {% include '/ar/404.html' %}
    {% endif %}
    {% if task == 'cv' %}
        {% include '/ar/cv.html' %}
    {% endif %}
    {% if task == 'photo' %}
        {% include '/ar/photo.html' %}
    {% endif %}
    {% if task == 'voicegarden' %}
        {% include '/ar/voicegarden.html' %}
    {% endif %}

{% endblock %}
