{% extends "ar/skeleton.html" %}

{% block js %}
    <script src="/static/js/randomizer_ar.js"></script>
{% endblock %}

{% block body %}

    <div class="cuerpo">

        <section id="title">
            <h1 id="name">صالح الغصون</h1>
        </section>

        {% include '/dropdown.html' %}

        <section id="about">
            <p class="links">مرحباً، أنا صالح، خريج علوم كمبيوتر من جامعة تكسس في أوستن. أعشق
                <a type="image/jpeg" id="anchor_pic_1" href="photos/tech" class="curr-link tiptext">التقنية</a>
                و
                <a id="anchor_pic_2" href="/photos/travel" class="curr-link tiptext">السفر</a>
                و
                <a id="anchor_pic_3" href="/photos/bike" class="curr-link tiptext">الدراجات</a>
                <img class="icons" src="/static/icons/icon-wink.svg" alt="وجه غامز">
                حالياً، أقيم في مدينة نيويورك للعمل كمهندس برمجيات في
                <a class="english-font" href="https://cultureiq.com/">CultureIQ</a>.</p>
            <p></p>
            <p>
                وفي السابق، كنت أعمل في
                <a href="https://Kiva.org/">كيڤا</a>.
                وهي منظمة خيرية تهدف للتخفيف من حدة الفقر من خلال توفير وسائل تمويل غير ربحية لروادالأعمال الناشئين. أحببت كيڤا بعد ما شاهدت هذه الحلقة من
                <a href="https://www.youtube.com/watch?v=2964FGslkr8">برنامج خواطر</a>.</p>
            <p></p>
            <p>أحاول عيش حياتي بدون إستخدام وسائل تواصل إجتماعي
                (بإمكانك قراءة مدونتي
                <a href="https://saleh.soy">هنا</a>
                لمزيد من التفاصيل).
                لكني أرحب بتواصلك عن طريق
                <a href="mailto:saleh@alghusson.com">البريد الإلكتروني</a>،
                خاصة إذا كنت متواجد في نيويورك
                <img class="icons" src="/static/icons/icon-smile.svg" alt="وجه مبتسم"></p>
        </section>

        <section id="projects">
            <h2>بعض مشاريعي</h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-name" scope="col">الاسم</th>
                  <th class="col-desc" scope="col">الوصف</th>
                  <th class="col-link col-git" scope="col">قيت هب</th>
                  <th class="col-link" scope="col">الموقع</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="cell row-name"><p class="p-name">فنون كامبردج</p></td>
                  <td class="cell row-desc"><p class="p-desc">تطبيق لأجهزة آبل، يتيح للمستخدم أن يستعرض أعمال الفن المتواجدة في المناطق العامة في مدينة كامبردج في ولاية ماساشوستس. فكرة التطبيق هي عرض هذه القطع الفنية التي غالباً ما تتجاهلها تطبيقات الخرائط.</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/CambridgeArt"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1297131977&mt=8"><img class="row-icon-img" src="/static/icons/apple-store.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">مفضلتي</p></td>
                  <td class="cell row-desc"><p class="p-desc">تطبيق لأجهزة الأندرويد، الهدف من التطبيق هذا أن يبحث عن المواد الإعلامية (أفلام/مسلسلات) في عدة خدمات البث والفديو حسب الطلب، مثل هولو ونتفلكس. التطبيق يحاول حل مشكلة عدم توفر خاصية البحث في هذه الخدمات من دون وجود اشتراك وأيضاً يسهل على المستخدم خاصية البحث ما إذا كان مشترك في عدة خدمات. أخيراً، بإمكان المستخدم حفظ المواد الإعلامية في مفضلة.</p></td>
                  <td class="row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/MyQueue"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="row-icon row-website dead">-</td>
                </tr>
                <tr>
                  <td class="cell row-name"><p class="p-name">داوننق جونز</p></td>
                  <td class="cell row-desc"><p class="p-desc">تطبيق ويب كامل (فول ستاك). كان مشروع لمادة هندسة البرمجيات في الجامعة. يستعرض معلومات عن أسهم تتبع ل ٧ أسواق مختلفة، المعلومات تجمع عن طريق API شركة ياهو. كما أن التطبيق يحوي على بوابة API خاصة به.</p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/jones"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="https://salehjones.com/"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr >
                  <td class="cell row-name"><p class="p-name">تكسس أولاً</p></td>
                  <td class="cell row-desc"><p class="p-desc" style="display: inline">إضافة لمتصفح كروم، نبعت الفكرة من حبي لولاية تكسس التي درست فيها الجامعة. ما تفعله هذه الإضافة هو أنه في قائمة الولايات الأمريكية، تضع تكسس في المقدمة. الصراحة عملت هذه الإضافة حتى تسهل علي عملية التقديم على الوظائف </p> <img class="icons" src="/static/icons/icon-grin.svg" alt="وجه ضاحك"></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/TexasFirst"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="https://chrome.google.com/webstore/detail/texas-first/cflpfjhdephkbknjgidjkcfhohbddlnh"><img class="row-icon-img" src="/static/icons/chrome.svg" title="Website link" alt="Website link"></a></td>
                </tr>
                <tr class="last-row">
                  <td class="cell row-name"><p class="p-name">المزارع</p></td>
                  <td class="cell row-desc"><p class="p-desc">مزارع  يهتم بحديقتك الخاصة من الألف إلى الياء.  عبارة عن جهاز كمبيوتر صغير (<a class="english-font" href="https://www.arduino.cc">Arduino</a>) متصل بمستشعِرَين (حرارة+رطوبة) ومضخة ماء. بالإضافة إلى الكمبيوتر، يوجد أيضاً تطبيق على جهاز القوقل هوم، مساعد قوقل المنزلي. تطبيق القوقل هوم يتسجيب للأوامر الصوتية وبإمكانه قراءة الاستشعارات أو تشغيل مضخة الماء. </p></td>
                  <td class="cell row-icon row-git"><a class="anchor-git" href="https://github.com/qirh/VoiceGarden"><img class="row-icon-img" src="/static/icons/github.svg" title="Git link" alt="Git link"></a></td>
                  <td class="cell row-icon row-website live"><a class="anchor-website" href="voicegarden"><img class="row-icon-img" src="/static/icons/website.svg" title="Website link" alt="Website link"></a></td>
                </tr>
              </tbody>
            </table>
        </section>

    </div>
{% endblock %}
