<section id="voicegarden">

    <script>
        $(document).ready(function() {
            movecols();
        });
        $(window).resize(function() {
            movecols();
        });
        function movecols() {
            var isMobile = window.matchMedia("only screen and (max-width: 599px)");
            if(isMobile.matches) {
                jQuery.moveColumn = function (table) {
                    var cols;
                    cols = jQuery(jQuery('tr', table)).children('th, td');
                    cols.detach('#2').insertBefore('#1');
                }
            }
            else {
                jQuery.moveColumn = function (table) {
                    var cols;
                    cols = jQuery(jQuery('tr', table)).children('th, td');
                    cols.detach('#1').insertBefore('#2');
                }
            }
            jQuery.moveColumn(jQuery('table'));

        }
    </script>

    <table class="table table-voice">
        <tr>
            <th id="0" class="row-voice">رمز الدخول للعملاء (منصة قوقل السحابية) </th>
            <th id="1" class="row-voice" style="font-weight: normal;">f5b426a13e274fb3882d90f2a29e69df</th>
            <th id="2" class="row-voice" style="direction: ltr;">Client Access Token (Google Cloud Platform)</th>
        </tr>
    </table>
</section>