body {
	padding-top: 5rem;
}
.main {
	padding: 3rem 1.5rem;
	text-align: center;
}
footer {
  position: relative;
  bottom: 0;
  background-color: #F4F3F3!important;
}
.availableLink {
	color: rgb(60,200,80);
}
.currLink {
	color: rgb(0, 20, 255);
}
.unAvailableLink {
   pointer-events: none;
   cursor: default;
}
.bg-inverse {
    background-color: #363737!important;
}