<!-- DROPDOWN-->
<section id="languages">
    <select id="dropdown" onchange="dropdown_on_change(this)">
        <option value="ar">العربية</option>
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="pt">Português</option>
        <option value="de">Deutsch</option>
        <option value="fr">Français</option>
        <option value="he">עברית</option>
    </select>
</section>

<section id="buffer">
</section>

<script>
    function dropdown_init() {
        var lang = get_language_cookie();
        document.getElementById('dropdown').value = lang;
    }
    function dropdown_on_change(item) {
        set_language_cookie(item.value);
    }
    document.addEventListener('DOMContentLoaded', function() {dropdown_init();}, false);
</script>